summary {
    outline: 0 !important;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

summary::-webkit-details-marker {
    color: transparent;
}

summary:before {
    content: "+";
}

details {
    text-align: left;
}

.file-upload-button:before {
    content: "Upload File";
    background-color: black;
    color: white;
    padding: .5em 1em;
    margin: .5em .5em .5em 1em;
    display: inline-block;
}

.file-upload-button:after {
    content: attr(data-filename);
}

input {
    margin: .5em 0 1em;
    padding: .5em 1em;
    width: 100%;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: .8em 1em;
    border: 0;
    margin-top: 1.5em;
    display: block;
}

#success {
    display: none;
    color: green;
    padding: 1em;
    border: solid 1px green;
    margin-bottom: 1em;
}

form {
    position: relative;
}

#loading-wrapper {
    background-color: rgba(255, 255, 255, .4);
    display: none;
}

form.loading #loading-wrapper {
    display: flex;
}

@media (min-width: 768px) {
    form {
        width: 45%;
    }

    input[type="submit"] {
        padding: 1em;
        width: 150px;
    }

    #success {
        width: 50%;
    }
}