summary {
    outline: 0 !important;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

summary::marker {
    font-size: 0;
}

summary:before {
    content: "+";
    margin-right: .5em;
}

details {
    text-align: left;
    margin-bottom: 2em;
}

.file-upload-button:before {
    content: "Upload File";
    background-color: black;
    color: white;
    padding: .5em 1em;
    margin: .5em .5em .5em 1em;
    display: inline-block;
}

.file-upload-button:after {
    content: attr(data-filename);
}

input[type="text"] {
    margin: .5em 0 1em;
    padding: .5em 1em;
    width: 100%;
}

input[type="file"] {
    display: none;
}

input[type="submit"], .button {
    background-color: black;
    color: white;
    padding: .5em 1em;
    border: solid 1px black;
    margin-top: 1em;
    display: inline-block;
    cursor: pointer;
}

.success {
    display: none;
    color: green;
    padding: 1em;
    border: solid 1px green;
    margin-bottom: 1em;
}

form {
    position: relative;
}

.loading-wrapper {
    background-color: rgba(255, 255, 255, .4);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    justify-content: center;
    align-items: center;
}

form.loading .loading-wrapper {
    display: flex;
}

#game-categories-wrapper {
    display: flex;
}

#game-categories-select {
    display: flex;
    flex-direction: column;
}

.add-categories-button {
    font-weight: bold;
}

#game-categories {
    font-size: 1em;
    padding: .5em 1em;
}

#game-categories-display {
    padding-left: .5em;
}

#game-categories-display span {
    font-weight: bold;
    cursor: pointer;
}

#game-categories-display span:not(:last-child):after {
    content: ', ';
}

.input-wrapper {
    margin: .5em 0 1em;
}

input[type="checkbox"] {
    margin: 0 .25em 0 .6em;
}

@media (min-width: 768px) {
    form {
        width: 45%;
    }

    input[type="submit"] {
        padding: 1em;
        width: 150px;
    }

    .success {
        width: 50%;
    }
}