#profile {
    padding-top: 3em;
    padding-bottom: 3em;
}

#profile__icon {
    width: 40%;
    min-width: 150px;
    padding-top: max(40%, 150px);
    background-color: grey;
    border-radius: 100%;
    margin: auto;
}

#profile__username {
    padding: .8em 0 .3em;
    font-weight: bold;
    font-size: 1.6em;
}

#profile__played-time {
    font-size: 1.2em;
}

.games-slider {
    margin-bottom: 2.5em;
}

@media (min-width: 768px) {
    #profile {
        display: flex;
        align-items: center;
    }

    #profile__icon {
        width: 150px;
        min-width: unset;
        padding-top: 150px;
    }
    
    #profile__details {
        flex-grow: 1;
        padding: 0 1em 0 2em;
    }
    
    #profile__username {
        padding-top: 0;
        padding-bottom: .1em;
        font-size: 2.2em;
    }

    #profile__played-time {
        font-size: 1.4em;
    }

    #recommendations-wrapper {
        padding-top: 1em;
    }

    .games-slider {
        margin-bottom: 3.5em;
    }
}