* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

@keyframes linkHover {
    0% {
        width: 0;
        left: 0;
    }
    35% {
        width: 35%;
        left: 0;
    }
    65% {
        width: 35%;
        left: 65%;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    left: 0;
}

a:hover:after {
    animation: linkHover .5s ease-in-out;
}

button {
    color: white;
    background-color: black;
    padding: .5em 1em;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
}

h1 {
    font-size: 3em;
    margin-bottom: .25em;
}

h2 {
    font-size: 2.6em;
    margin-bottom: .25em;
}

h3 {
    font-size: 2em;
    margin-bottom: .25em;
}

.pc-only {
    display: none;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .pc-only {
        display: block;
    }
    h2 {
        font-size: 3em;
        margin-bottom: .3em;
    }
    h3 {
        font-size: 2.2em;
        margin-bottom: .4em;
    }
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


/* Games slider */

.games-slider {
    overflow: hidden;
    position: relative;
}

.games-slider__cards {
    list-style-type: none;
    display: flex;
    transition: transform .3s ease-out;
}

.games-slider__card {
    width: 50%;
    flex-shrink: 0;
    padding: .5em;
}

.games-slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    line-height: 30px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
    z-index: 2;
    outline: none;
}

.games-slider__button-left {
    left: 0;
}

.games-slider__button-right {
    right: 0;
}

.games-card__image {
    width: 100%;
    padding-top: 100%;
    background-color: blue;
    margin-bottom: 1em;
}

.games-card__title {
    font-weight: 600;
    text-align: center;
    font-size: 1.35em;
}

@media (min-width: 768px) {
    .games-slider__card {
        width: 20%;
    }
}


/* Global classes */

.divider {
    padding-top: 3em;
}

.divider-small {
    padding-top: 1.5em;
}

.wrapper {
    padding: 2em 1em;
    text-align: center;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 2.8em 5em;
        text-align: left;
    }
}