/* Main content wrapper */

#games-background {
    background-image: url('./../images/background.png');
    background-repeat: repeat;
    background-size: 60%;
    height: 100vh;
}

#hero-content {
    padding: 3em 1em 1em;
    background-color: white;
    border-radius: 15px 15px 0 0;
    text-align: center;
    transform: translateY(-100%);
    position: absolute;
    top: 100vh;
    margin-bottom: 100px;
}

#hero-content > h3 {
    margin-bottom: 1em;
}

#cta-wrapper {
    padding: 2.2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cta-wrapper > button, #cta-wrapper > a {
    font-size: 1.2em;
}

#cta-wrapper > button {
    margin-right: 1.5em;
}

#hero-content > p {
    font-size: 1.2em;
    font-weight: 500;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;
}

.side-change .wrapper, .side-change .divider {
    display: none;
}

.side-change #hero-content {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    #games-background {
        height: 100vh;
        min-width: 50vw;
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
        position: absolute;
        top: 0;
        right: 0;
        transition: clip-path .8s, right .8s;
        z-index: 2;
    }

    .side-change #games-background {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        right: 52vw;
    }

    #hero-content > h1 {
        display: none;
    }

    #hero-content {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5em;
        width: 100%;
        height: 100vh;
        transform: none;
        position: static;
        padding-right: 40%;
        border: 0;
        transition: visibility .45s;
    }

    .side-change #hero-content {
        visibility: hidden;
    }
    
    #cta-wrapper {
        justify-content: left;
        padding-top: 2.5em;
    }
    
    #hero-content > h3 {
        font-size: 4.2em;
        margin-bottom: .4em;
        line-height: 1.1em;
    }

    #hero-content > p {
        font-size: 1.8em;
        line-height: 1.4em;
    }

    #cta-wrapper > button, #cta-wrapper > a {
        font-size: 1.5em;
    }

    .side-content {
        position: absolute;
        right: 0;
        width: 52vw;
        top: 50%;
        transform: translate(5em, -50%);
        opacity: 0;
        transition: transform .4s, opacity .4s;
        padding: 5em 3em;
        max-height: 100vh;
        overflow-y: scroll;
        z-index: -1;
    }

    .sign-up .sign-up-content {
        transform: translate(0, -50%);
        opacity: 1;
        z-index: 1;
    }

    .log-in .log-in-content {
        transform: translate(0, -50%);
        opacity: 1;
        z-index: 1;
    }

    .side-content > h1 {
        margin-bottom: .5em;
    }

    label {
        font-size: 1.4em;
        font-weight: 500;
        margin-bottom: .5em;
        display: block;
    }

    input {
        border: 0;
        background-color: lightgray;
        font-size: 1.4em;
        padding: .5em;
        margin-bottom: .6em;
        width: 50%;
    }

    .sign-option {
        display: flex;
        align-items: center;
        padding: 0;
        width: 60%;
        font-size: 1.2em;
        cursor: pointer;
        margin: .5em 0;
        border-radius: 5px;
    }

    .with-google {
        background-color: white;
        color: rgba(0,0,0,.54);
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
    }

    .with-apple {
        background-color: black;
        color: white;
        padding-left: .3em;
        margin-bottom: 2em;
    }

    .with-google .sign-option__image {
        width: 2.6em;
    }

    .with-apple .sign-option__image {
        width: 2em;
        margin-right: .3em;
    }

    .sign-option__image img {
        width: 100%;
    }

    .sign-option__text {
        flex-grow: 1;
        font-family: 'Roboto';
    }

    .side-content button {
        font-size: 1.1em;
        padding: .6em 1em;
    }

    .side-content button .fas {
        margin-right: .4em;
    }
}