* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: darkgray;
}

@keyframes linkHover {
    0% {
        width: 0;
        left: 0;
    }
    35% {
        width: 35%;
        left: 0;
    }
    65% {
        width: 35%;
        left: 65%;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    left: 0;
}

a:hover:after {
    animation: linkHover .5s ease-in-out;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

/* Header Hamburger */

.hamburger {
    width: 1.5em;
    padding-top: 1em;
    position: relative;
    z-index: 2;
}

.hamburger--line {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: white;
    transition: transform .3s, top .3s, width .3s;
    transform: translateY(-50%);
}

.hamburger--line:nth-child(1) {
    top: 0;
}

.hamburger--line:nth-child(2) {
    top: 50%;
}

.hamburger--line:nth-child(3) {
    top: 100%;
}

.nav-opened .hamburger--line, .sticky .hamburger--line {
    background-color: black;
}

.nav-opened .hamburger--line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.nav-opened .hamburger--line:nth-child(2) {
    width: 0;
}

.nav-opened .hamburger--line:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

/* Header */

header {
    padding: .8em 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header.sticky {
    background-color: white;
}

.header-nav {
    position: fixed;
    left: 0;
    width: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    transition: width .3s;
}

.nav-opened .header-nav {
    width: 100vw;
}

.header-nav > ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav > ul > li {
    padding: .4em .6em;
}

.header-nav > ul > li > a {
    font-size: 1.5em;
    display: block;
}

.header-title {
    visibility: hidden;
    font-weight: 600;
    font-size: 1.2em;
}

.sticky .header-title {
    visibility: visible;
}

@media (min-width: 768px) {
    header {
        background-color: white;
        align-items: center;
        padding: .6em 2em;
    }
    .header-title {
        visibility: visible;
    }
    .header-nav {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
    }
    .header-nav > ul {
        position: static;
        width: auto;
        transform: none;
        flex-direction: row;
    }
    .header-nav > ul > li > a {
        font-size: .9em;
    }
}

/* Main content wrapper */

main {
    margin-top: 45vh;
    padding: 3em 1em 1em;
    background-color: white;
    height: 200vh;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: .25em;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    font-size: 1.2em;
    font-weight: 500;
}